{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static "article/css/style.css" %}">
    <title>All Posts</title>
  </head>
  <body>
    <header>
      <h1>All Posts</h1>
    </header>

    <div class="container">
      {% for post in posts %}
      <div class="post">
        <div class="post-content">
          <img src="{% static "article/img/am.jpg" %}" alt="Post Image">
          <h2>{{ post.title }}</h2>
          <p>{{ post.description | truncatewords:10 }}</p>
          <a href="{% url 'articles:detail' post.id %}">View Post</a>
          <div class="views">{{ post.post_view }} views</div>
        </div>
      </div>
      {% endfor %}
    </div>

    <footer>
      <p>&copy; 2025 My Blog | Reza Mardani</p>
    </footer>
  </body>
</html>
